
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>
<p>
  <strong>Message:</strong>
  <%= @location.message %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>


<p>
<%= image_tag @location.photo %>
</p>
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
